# OS & IDE
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.zed
/.nova

# Env & secrets
.env
.env.*

# Dependencies
/vendor
/node_modules

# Laravel runtime
/storage/framework/*
/storage/logs/*
/storage/app/*
/storage/*.key
/bootstrap/cache/*
/public/storage
/public/build
/public/hot

# PHPUnit
.phpunit.*

# Firebase
firebase-adminsdk*.json
/storage/firebase/
/.firebase
firebase-debug.log

# Misc
/auth.json
Homestead.json
Homestead.yaml
*.log
